
form {
    text-align: left;
    width: 100%;
}

#message, #preferences {
    padding: 5px 0px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.clickable {
    cursor: pointer;
}

tr.even {
    background-color: default;
}

tr.odd {
    background-color: #dddddd;
}

button, input[type="file"] {
	height: 25px;
}

input[type="text"] {
   	width: 100%;
}

/* Preference Search Content */
#myPrefSearch {
    background-image: url('icons/icon48.png'); /* Add a search icon to input */
    background-position: 2px 2px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-size: 20px 20px;
    width: 100%; /* Full-width */
    font-size: 12px; /* Increase font-size */
    padding: 5px 20px 5px 30px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 2px; /* Add some space below the input */
    margin-top: 2px; /* Add some space above the input */
}


/* Autocomplete content */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
